<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mixit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">

    <script src="lib/axios.js"></script>
    <script src="lib/vue.full.js"></script>

    <script src="compiler/dist/mastodon/main.js"></script>
    <script src="compiler/dist/openweathermap/main.js"></script>
    <script src="compiler/dist/nextcloud-news/main.js"></script>
    <script src="compiler/dist/discord/main.js"></script>
</head>
<body>
    <noscript>Mixit needs javascript enabled to work correctly. Sorry</noscript>
    <div id="app">
        <div id="errors" v-show="errors">
            <p class="error" v-for="(error, key) in errors" @click="removeError(key)">{{ error }}</p>
        </div>
        <div id="content">
            <div id="services">
                <div class="tile" v-if="layout" v-for="tile in layoutTiles" :style="tile.grid">
                    <component :is="tile.service.type" :emit="tile.emiter" :auth="tile.service.auth" :options="tile.options" />
                </div>
            </div>
            <button id="showManager" @click="showManager = !showManager">{{ showManager ? '▼' : '▲' }}</button>
            <div id="manager" v-show="showManager">
                <div>
                    <input v-model="newService" @keyup.enter="addService" placeholder="service">
                </div>
                <div id="layout-select">
                    <div class="layout" v-for="(layout, id) in layouts">
                        <template v-if="layoutId == id">
                            <input :value="layout.name" @keyup.ctrl.delete="removeSelectedLayout()"
                                @keyup.enter="renameSelectedLayout($event.target.value)">
                        </template>
                        <button v-else @click="layoutId = id">{{ layout.name }}</button>
                    </div>
                    <div><button @click="addLayout">+</button></div>
                </div>
                <div>
                    <select @change="showService($event.target.value)">
                        <option v-for="(service, key) in services.get()" :value="key">
                            {{ service.name || service.type }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>